@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,400italic,600,600italic,700);

*, *:before, *:after {
  -moz-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: #51545B;
  font-family: "Source Sans Pro";
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 50px 10px 0;
}
a:link {
  color: #55A3CA;
  text-decoration: none;
}
a:visited {
  color:#6824E5;
}
a:hover {
  color:#E53724 /* #E7A024*/;
  text-decoration: underline;
}

header {
  color:#ffffff;
  z-index:9999;
  background: #373A41;
  min-height: 40px;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

#logo {
  color: #ffffff;
  position: fixed;
  top: 10px;
  left: 10px;
  margin: 0;
}
#logo a {
  color: #ffffff;
  text-decoration: none;
}

p {
  color: #51545B;
  font-weight: normal;
  line-height: 1.4;
  margin: 0 0 20px;
}

#help-text {
  color: #D95752;
  font-weight: 600;
  margin: 5px 0 0;
}
#help-text.good {
  color: #99BD62;
}
.note {
  color: #777777;
  font-size: 12px;
  margin-top: 5px;
}

dl {
  font-size: 14px;
}
dd {
  color: #212326;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
}
h1, h2, h3, h4, h5, h6 {
  color: #212326;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0;
}
h1 {
  font-size: 26px;
}
h2 {
 font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h5.tract {
  font-weight: normal;
  margin-top: 0;
}
h5 #stat-tract {
  color: #212326;
  font-size: 18px;
  font-weight: 600;
}
h6 {
  font-size: 14px;
}
hr {
  border: none;
  border-top: 1px solid #dddddd;
  margin: 20px 0;
}
@media only screen and (min-width: 1024px) {
  hr {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
hr.small {
  border-top-style: dotted;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100px;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
.col-half, .col-7, .col-3 {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .col {
    float: left;
    margin: 0 2.5%;
  }
  .col-half {
    width: 45%;
  }
  .col-7 {
    width: 65%;
  }
  .col-3 {
    width: 25%;
  }
}

#map {
  background-color: #dddddd;
  height: 400px;
  margin: 0 auto 20px auto;
  max-width: 100%;
}
@media (min-width: 800px) {
  #map {
    height: 700px;
    max-width: 100%;
    width: 100%;
  }
}

#map-legend span {
  display: block;
  height: 30px;
  width: 30px;
}
table {
  font-family: "Source Sans Pro";
  font-size: 14px;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 0;
}
#map-legend .table {
  margin: 0 auto;
}
.table {
  font-size: 12px;
  margin: 0;
  width: 100%;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
  color: #212326;
}
.table > thead:last-child > tr > th {
  vertical-align: bottom;
  border-bottom: none;
  border-top: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table caption {
  color: #212326;
  font-weight: bold;
}