<div class="data">
  <h5 class="tract">Selected Tract: <span id="stat-tract">---</span></h5>
  <small><span id="stat-cnty">---</span> County, <span id="stat-state">--</span></small>
  <hr class="small">
  <dl class="dl-statTract dl-inline">
    <dt>Price cap Between<sup>1</sup></dt>
    <dd>&nbsp;total locations: <span id="stat-pclocbtwn">---</span></dd>
    <dd>&nbsp;annual support: $ <span id="stat-pcannsup">---</span></dd>
    <hr class="small">
    <dt>Price cap Above</dt>
    <dd>&nbsp;total locations: <span id="stat-pclocabv">---</span></dd>
  </dl>
</div>