<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>FCC - {{ site.data.map.title }}</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.data.map.desc }}">
    <meta name="keywords" content="{{ site.data.map.keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
    <!--[if lte IE 8]>
      <link href='//api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.ie.css' rel='stylesheet'>
    <![endif]-->
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-hash/v0.2.1/leaflet-hash.js'></script> 
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <link href="{{ site.baseurl }}/css/styles.css" rel="stylesheet">
    <!--[if lte IE 9]>
      <script src="{{ site.baseurl }}/js/html5shiv.js" type="text/javascript"></script>
      <script src="{{ site.baseurl }}/js/respond.js" type="text/javascript"></script>
    <![endif]-->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16888309-1']);
      _gaq.push(['_setDomainName','github.io']);
      _gaq.push(['_addIgnoredRef', 'fcc.gov']);
      _gaq.push(['_addIgnoredRef', 'dtv.gov']);
      _gaq.push(['_addIgnoredRef', 'broadband.gov']);
      _gaq.push(['_gat._anonymizeIp']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']); 

     (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <header>
      <div class="container">
        <h4 id="logo"><a href="http://fcc.gov">FCC</a></h4>
      </div>
    </header>
