<section class="map-legend">
  <table class="table table-legend table-data">
    <caption>
    Model Landscape
    </caption>
    <thead>
      <tr>
        <th width="50%">Cost per location</th>
        <th align="center" width="25%">Served<sup>1</sup></th>
        <th align="center" width="25%">Unserved<sup>1</sup></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="3"><sup>1</sup> This map only shows Price-Cap areas.</td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td style="white-space: nowrap;"><strong>Above</strong><br>
            Price cap: &ge; $207.81</td>
        <td align="center"><span class="key-symbol" style="background-color:#FFACA1"></span></td>
        <td align="center"><span class="key-symbol" style="background-color:#DC4E3D"></span></td>
      </tr>
      <tr>
        <td style="white-space: nowrap;"><strong>Between</strong> <br>
            Price cap: &gt; $52.50 and &lt; $207.81</td>
        <td align="center"><span class="key-symbol" style="background-color:#C4F489"></span></td>
        <td align="center"><span class="key-symbol" style="background-color:#28925B"></span></td>
      </tr>
      <tr>
        <td style="white-space: nowrap;"><strong>Below</strong> <br>
            Price cap: &le; $52.50</td>
        <td align="center"><span class="key-symbol" style="background-color:#FBDA62"></span></td>
        <td align="center"><span class="key-symbol" style="background-color:#D99442"></span></td>
      </tr>
    </tbody>
  </table>
</section>