{% include header.html %}

<div id="title" class="container">
  <div class="content">
    <h3>{{ site.title }}</h3>
  </div>
</div>

<div id="map-c" class="container">
  <div class="content">
    <div id="map"></div>
    <!-- <ul class="inline">
      <li><strong>Select Map:</strong></li>
      <li><a href='javascript:void(0)' id='cam411' class='sel active'>CAM v4.1.1 map</a></li>
      <li><a href='javascript:void(0)' id='cam411_10_768' class='sel inactive'>CAM v4.1.1 map 10/768</a></li>
    </ul> -->
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>

  <div class="content">
    <aside id="map-legend">   
      <table class="table-legend table-data">
        <caption>
        Model Landscape
        </caption>
        <thead>
            <tr>
                <th>Cost per location</th>
                <th>Served<sup>1</sup></th>
                <th>Unserved<sup>1</sup></th>
            </tr>
            <tr>
                 <th>&nbsp;</th>
                 <th colspan="2" style="font-size: 10px; font-weight: plain;">Without USF support</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan=3><sup>1</sup>This map only shows Price-Cap areas.</td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td style="white-space: nowrap;"><strong>Above</strong> <br>
                    Price cap: &ge; $207.81</td>
                <td><span class="key-symbol" style="color:#FFACA1">▉</span></td>
                <td><span class="key-symbol" style="color:#DC4E3D">▉</span></td>
            </tr>
            <tr>
                <td style="white-space: nowrap;"><strong>Between</strong> <br>
                    Price cap: &gt; $52.50 and &lt; $207.81</td>
                <td><span class="key-symbol" style="color:#C4F489">▉</span></td>
                <td><span class="key-symbol" style="color:#28925B">▉</span></td>
            </tr>
            <tr>
                <td style="white-space: nowrap;"><strong>Below</strong> <br>
                    Price cap: &le; $52.50</td>
                <td><span class="key-symbol" style="color:#FBDA62">▉</span></td>
                <td><span class="key-symbol" style="color:#D99442">▉</span></td>
            </tr>
        </tbody>
    </table>
    </aside>
    <h5 id="map-hd">{{ site.title }}</h5>
    <p id="map-desc">This map identifies the areas that have been initially determined to be eligible for ongoing Phase II Connect America support, which are shown in dark green on the map.  The map displays the outputs of the adopted version of the Connect America Cost Model (CAM) (version 4.1.1), which calculates costs per location in all price cap carrier study areas for the entire country. Areas marked as “served” are reported as having Internet access of at least 3 Mbps downstream and 768 kbps upstream from an unsubsidized competitor.  The map is based on round 8 State Broadband Initiative Data (data as of June 2013).</p> 
    <p id="map-desc">Areas on the map fall into one of six categories: served/above cost, served/between cost, served/below cost, unserved/above cost, unserved/between cost, and unserved/below cost.  The Wireline Competition Bureau has made an initial determination that areas shown as served/between cost on the map are eligible for Phase II support, subject to a challenge process.  An area is classified as “between cost” if the average monthly cost-per-location for that census block, as calculated by the cost model, is above $52.50 but below $207.81.  An area is classified as “served” if it is reported to have service meeting the requisite speed from an unsubsidized competitor.   Areas shown in grey (i.e., not falling into one of the six categories) are either located in rate-of-return study areas and/or are reported as uninhabited.  The map will be updated after completion of the Phase II challenge process.</p>
    <hr>

    {{ content }}    
  </div>

   
<script>
var map = L.mapbox.map('map', 'fcc.map-kzt95hy6', {attributionControl: false,maxZoom:10})
            .setView([38.82, -94.96], 4);
map.scrollWheelZoom.disable();

var hash = L.hash(map);
L.control.fullscreen().addTo(map);
var activeLayerGroup = new L.LayerGroup();
var cam411_TL = L.mapbox.tileLayer('fcc.h9d1v2t9')
                    .on('load',function(){/* REMOVE LEGEND  map.legendControl.addLegend(cam411_TL.getTileJSON().legend);*/
                                        cam411_TL.removeEventListener();})
var cam411_GL = L.mapbox.gridLayer('fcc.h9d1v2t9')
var cam411_GC = L.mapbox.gridControl(cam411_GL, {follow: true})//.addTo(map);
var tileName = "cam411";

activeLayerGroup.addLayer(cam411_TL);
activeLayerGroup.addLayer(cam411_GL);
activeLayerGroup.addLayer(cam411_GC);
activeLayerGroup.addTo(map,function(){console.log('done')});

var cam411_10_768_TL = L.mapbox.tileLayer('fcc.hjl40a4i');
var cam411_10_768_GL = L.mapbox.gridLayer('fcc.hjl40a4i');
var cam411_10_768_GC = L.mapbox.gridControl(cam411_10_768_GL, {follow: true});

var mapHd = {
  cam411: {
    title: '{{ site.title }}',
    description: 'This map identifies the areas that have been initially determined to be eligible for ongoing Phase II Connect America support, which are shown in dark green on the map.  The map displays the outputs of the adopted version of the Connect America Cost Model (CAM) (version 4.1.1), which calculates costs per location in all price cap carrier study areas for the entire country. Areas marked as “served” are reported as having Internet access of at least 3 Mbps downstream and 768 kbps upstream from an unsubsidized competitor.  The map is based on round 8 State Broadband Initiative Data (data as of June 2013).',
    legend: ''
  },
  cam411_10_768: {
    title: 'Cost Model 10/768 Map',
    description: 'The map displays the outputs of the CACM, which calculates costs per location for the entire country. Areas marked as “served” are believed to have Internet access of at least <strong>10 Mbps downstream and 768 kbps upstream</strong> from a cable or fixed-wireless provider (according to State Broadband Initiative data, round 7, data as of December 2012) that reports it provides voice service on FCC Form 477 and does not receive high-cost USF support.',
    legend: ''  
  }
}

d3.selectAll(".sel").on("click", function(){
  if (d3.select(this).classed("active")){
      //do nothing
  } else {
    // d3.select('.map-legend').remove();
    d3.selectAll(".sel").attr("class","sel inactive");
    d3.select(this).attr("class","sel active");
    
    tileName = d3.select(this).attr("id");
    activeLayerGroup.clearLayers();
     
    activeLayerGroup.addLayer(eval(tileName+"_TL"));
    activeLayerGroup.addLayer(eval(tileName+"_GL"));
    activeLayerGroup.addLayer(eval(tileName+"_GC"));
    
  
    d3.select('#map-hd').text(mapHd[this.id].title);
    d3.select('#map-desc').html(mapHd[this.id].description);
    // d3.select('#map-legend').html(mapHd[this.id].legend);   
  }
});
 
</script>

{% include footer.html %}
